<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.example.pro"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.example.pro.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="net.example.pro.Item"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Mainactivity" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Item" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.Electronics"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Mainactivity" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Item" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="net.example.pro.SingleItemView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Electronics" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Item" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="net.example.pro.Books"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Mainactivity" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Item" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.Vehicles"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Mainactivity" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Item" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.OtherItems"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Mainactivity" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Item" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="net.example.pro.DatabaseActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Mainactivity" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Item" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.User"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Mainactivity" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Item" />
                <action android:name="android.intent.action.Signup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="net.example.pro.Signup"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Create_New_User" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Signup" />
                <action android:name="android.intent.action.AddItems" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.AddItems"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Mainactivity" />
                <action android:name="android.intent.action.User" />
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.Create_New_User"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Signup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.example.pro.Facebook_Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Signup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
